* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: green;
  padding: 1rem;
  position: sticky;
  top: 0;
}

.menu-items {
  background-color: green;
  display: none;
  padding: 1rem 0.5rem 0.7rem;
  position: absolute;
  top: 2.7rem;
  border-radius: 4px;
}

nav img:hover ~ .menu-items,
.menu-items:hover {
  display: block;
}

.menu-items a {
  display: block;
  text-decoration: none;
  margin: 0.2em 0;
  padding: 0.1em 1em;
  border-radius: 4px;
}

.menu-items a:hover {
  background-color: #bde215;
}

main {
  width: 80%;
  background-color: lightgreen;
  box-sizing: border-box;
  margin: 1.5rem auto;
  padding: 1.5rem;
}

.imgContainer {
  width: 25rem;
  height: 25rem;
  display: inline-block;
  margin: 1.5rem;
  overflow: hidden;
}

.imgContainer img:hover {
  rotate: -12deg;
}

footer {
  background-color: red;
  height: 12rem;
}
